body{
    margin:250px;
    padding:150px;
    background-size: 768px 1800px;
    background-image: url("bg5.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;

}

section{
    background-color:white;
}

table{
    background-color:chartreuse;
    margin: 25px;
    padding: 2px;
}

h1{
    color:gold;
}

h4{
    background-color:lime;
}

section{
    background-color:lightseagreen;
}

h5{
    color:gold;
}

h2{
    color:blueviolet;
}
h3{
    color:blueviolet;
}

h6{
    color:gold;
}

p{
    margin:10px;
}

hr{
    grid-column: 1/-1;
    width: 85%;
    margin: 0 auto;
}